<router-outlet></router-outlet>
<div class="tab-content">
  <div id="1000" class="tab-pane active">
    <p>zomato application</p>

  </div>
</div>

<div class="container-md container-lg container-xl container-xxl container-start bg-danger p-5">
  <nav class="navbar navbar-expand-sm sticky-top">
    <div class="container">      
        <a href="#1" class="navbar-brand h1 text-bg-danger" data-bs-toggle="offcanvas"  style="font-size: xx-large;"> <span class="border rounded bg-white"><i class="fa-solid fa-location-dot" style="color: #1e1e1f;"></i></span> Zomato</a>
        <button type="button" class="navbar-toggler bg-white" data-bs-toggle="collapse" data-bs-target="">
          <span class="navbar-toggler-icon "></span>
        </button>//task==>apply all bottstrap classes in this zomato application//
        <a href="#3" data-bs-toggle="offcanvas" > <span class="border rounded-circle p-4 bg-white"><i class="fa-solid fa-user fa-xl"></i></span></a>
    </div>
  </nav>
</div>  


<div class="container justify-content-center">
  <form action="" class="my-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search">
      <span class="input-group-text" class="btn btn-secondary">search</span>
    </div>
  </form>
</div>


<div class="offcanvas offcanvas-start" id="1" data-bs-theme="dark">
  <div class="offcanvas-header h1">Menu
  <button  class="btn-close btn-close-secondary text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav list-group list-group-flush">


      <li class="nav-item list-group-item"> 
        <a href="#home" class="nav-link btn btn-dark hover-shadow">Home</a>
      </li>

      <li class="nav-item list-group-item">
        <a href="#Orders List" class="nav-link btn btn-dark  hover-shadow">Orders List</a>
      </li>

      <li class="nav-item list-group-item">
        <a href="#Restaurents List" class="nav-link btn btn-dark  hover-shadown ">Restaurents List</a>
      </li>
    
      <li class="nav-item list-group-item">  
        <a href="#About" class="nav-link btn btn-dark hover-shadow ">About</a>
      </li>
  
      <li class="nav-item list-group-item">
        <a href="#Help" class="nav-link btn btn-dark hover-shadow">Help</a>
      </li>

    </ul>

  </div>
</div>

<div class="container-md container-lg container-xl container-xxl">
  <div class="carousel slide" data-bs-ride="carousel" id="2">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#2" data-bs-slide-to="0"  class="rounded-circle active"></button>
      <button type="button" data-bs-target="#2" data-bs-slide-to="1" class="rounded-bottom"></button>
      <button type="button" data-bs-target="#2" data-bs-slide-to="2" class="rounded-end"></button>
      <button type="button" data-bs-target="#2" data-bs-slide-to="3" class="rounded-start"></button>
    </div>
  
    <div class="carousel-inner carousel-item-center">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <h2>something you want</h2>
          <p>what cotation you want for that particular image you can write here.</p>
        </div>
        <img src="\assets\Images\zomato2.webp" alt="food" class="d-block w-100">
      </div>
  
      <div class="carousel-item">
        <div class="carousel-caption">
          <h2>soemthing you want</h2>
          <p>here you can write what some quatation you want</p>
        </div>
        <img src="\assets\Images\zomato12.webp" alt="food" class="d-block w-100 h-100">
      </div>
  
      <div class="carousel-item">
        <div class="carousel-caption">
          <h3>somethong you want</h3>
          <p>here you can quatation</p>
        </div>
        <img src="\assets\Images\zomato13.png" alt="food" class="d-block w-100 h-100 img-fluid" >
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <h4>you can write what ever you want</h4>
          <p>some qutation you can write</p>
        </div>
        <img src="\assets\Images\zomato14.png" alt="" class="d-block w-100 h-100">
      </div>
    </div>
  <button type="button" class="carousel-control-prev" data-bs-target="#2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button type="button" class="carousel-control-next" data-bs-target="#2" data-bs-slide="next"> 
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>

<div class="container mt-3">
  <div class="card rounded " style="width: 800px;">
    <div class="card-body">
      <div class="carousel slide-xl" data-bs-ride="carousel" id="4">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#4" class="rounded-pill active" data-bs-slide-to="1" ></button>
          <button type="button"  data-bs-target="#4" class="rounded-circle" data-bs-slide-to="2"></button>
          <button type="button"  data-bs-target="#4"class="rounded-start" data-bs-slide-to="3" ></button>
          <button type="button"  data-bs-target="#4" class="rounded-top" data-bs-slide-to="4" ></button>
        </div>

        <div class="carousel-inner carousel-item-center">

          <div class="carousel-item active">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\samosa.jpg" alt="" class=" card-img-top d-block w-100 h-100">
           </div>

           <div class="carousel-item ">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\dosa.webp" alt="" class="card-img-top d-block w-100 h-100">
            </div>

            <div class="carousel-item">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\chai.jpg" alt="" class="card-img-top d-block w-100 h-100">
            </div>

            <div class="carousel-item">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\biryani.webp" alt="" class="card-img-top d-block h-100 w-100">
            </div>
        </div>
        <button type="button"  class="carousel-control-prev" data-bs-target="#4" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button type="button"  class="carousel-control-next" data-bs-target="#4" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>  
    <dl>
    <dt>Rudra Restaurant</dt>
    <dd>suraram</dd>
    </dl>
    <details>30-35min delivery 2km away</details> 
  </div>
</div>



<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="carousel slide-xl" data-bs-ride="carousel" id="5">

       
        <div class="carousel-inner carousel-item-center">

          <div class="carousel-indicators">
          <button type="button" data-bs-target="#5" class="rounded-pill active" data-bs-slide-to="1" ></button>
          <button type="button"  data-bs-target="#5" class="rounded-circle" data-bs-slide-to="2"></button>
          <button type="button"  data-bs-target="#5"class="rounded-start" data-bs-slide-to="3" ></button>
          <button type="button"  data-bs-target="#5" class="rounded-top" data-bs-slide-to="4" ></button>
        </div>


          <div class="carousel-item active">
              <div class="carousel-caption ">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\sweet4.jpg" alt="" class="d-block w-100 h-100 img-fluid">
           </div>

           <div class="carousel-item">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\sweet3.jpg" alt="" class="d-block w-100 h-100 img-fluid">
            </div>

            <div class="carousel-item">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\sweets2.webp" alt="" class="d-block w-100 h-100  img-fluid">
            </div>

            <div class="carousel-item">
              <div class="carousel-caption">
                <h3></h3>
                <p>a delicious food for all family needs to tast the feel.</p>
              </div>
              <img src="\assets\Images\sweet1.jpg" alt="" class="d-block h-100 w-100 img-fluid">
            </div>

        </div>
        <button type="button"  class="carousel-control-prev" data-bs-target="#5" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button type="button"  class="carousel-control-next" data-bs-target="#5" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>  
    <h5>Lucky sweets house</h5> 
    <details>30-35min delivery 3km away</details> 
  </div>
</div>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="carousel slide-xl" id="6" data-bs-ride="carousel">

        
        <div class="carousel-inner carousel-item-center">

          <div class="carousel-indicators">
            <button type="button" class="border-3 bg-light" data-bs-target="#6" data-bs-slide-to="1"></button>
            <button type="button" class="border-3 bg-light" data-bs-target="#6" data-bs-slide-to="2"></button>
            <button type="button" class="border-3 bg-light" data-bs-target="#6" data-bs-slide-to="3"></button>
            <button type="button" class="border-3 bg-light" data-bs-target="#6" data-bs-slide-to="4"></button>
          </div>
          
          <div class="carousel-item active">
            <div class="carousel-caption">cool</div>
            <img  class="card-img-top" src="\assets\Images\biryani4.jpg" alt="" class="d-block w-100">
          </div>

          <div class="carousel-item">
            <div class="carousel-caption">cool</div>
            <img src="\assets\Images\biryani3.jpeg" alt="" class="d-block w-100">
          </div>

          <div class="carousel-item">
            <div class="carousel-caption">cool</div>
            <img src="\assets\Images\biryani1.jpg" alt="" class="d-block w-100 ">
          </div>

          <div class="carousel-item">
            <div class="carousel-caption">cool</div>
            <img src="\src\assets\Images\biryani2.jpg" alt="" class="d-block w-100 ">
          </div>

        </div>
        <button type="button" class="carousel-control-prev" data-bs-target="#6" data-bs-slide="prev" >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button type="button" class="carousel-control-next" data-bs-target="#6" data-bs-slide="next" >
          <span class="carousel-control-next-icon"></span>  
        </button>
      </div>
      <a href="" class=" display-6 card-link text-dark  text-decoration-none">Biryani house</a>
      <details>40-45min delivery 4km away</details>
    </div>
  </div>
</div>

<div class="footer justify-content-center m-3 navbar-nav">
  <div class="row fixed-bottom text-bg-dark p-4">
    <div class="col hover-shadow text-bg-white rounded active dropup">
    <a href="#" class="dropdown-toggle text-bg-white" data-bs-toggle="dropdown">Delivery</a>
      <ul class="dropdown-menu"> 
        <li><a href="localhost:4200" class="dropdown-item"></a>delivery details</li>
      </ul>
    </div>
    <div class="col  text-bg-dark rounded text-lg">
      <span >
        <i class="fa-solid fa-bowl-food fa-flip fa-xl"></i>Dinning
      </span>
    </div>
    <div class="col hover-shadow text-bg-white rounded"> 
      <a href="#1000" data-bs-toogle="tab"><span><i class="fa-solid fa-money-bill fa-beat-fade fa-xl"></i></span>
      Money</a></div>
    <div class="col hover-shadow text-bg-white rounded">
       Blinkit</div>      
  </div>
</div>
<div class="offcanvas offcanvas-end offcanvas-xxl p-2 m-2 bg-white" id="3" style="height:1000px;">
  <button class="btn btn-close btn-close-dark text-reset" data-bs-dismiss="offcanvas"></button>
  
    <div class="card w-5 card mt-1">

      <img src="">

      <div class="card-body justify-content-center">shekar<br>

        <a href="#">view activity</a>

      </div>     

      <div class="card-footer justify-content-center bg-warning"> join for zomato gold</div>

    </div>

    <div class="d-flex mt-2">
      <span class="text-bg-light mx-3 p-4 border-3 rounded hover-shadow col-3">Likes</span>
      <span class="text-bg-light mx-3 p-4 border-3 rounded hover-shadow col-3">Payments</span>
      <span class="text-bg-light mx-3 p-4 border-3 rounded hover-shadow col-3">Settings</span>
    </div>
    <div class="mt-3 text-bg-light rounded"><a href="#" class="text-bg-light text-decoration-none">Your profile</a></div>

    <div class="mt-3 text-bg-light rounded">
      <a href="#" class="text-bg-light text-decoration-none ">Your rating  <span class="badge bg-warning">5 star</span></a>
    </div>

    <div class=" mt-3 card">
      <div class="card-header">
        <div class="card-title h4">
          Food Orders
        </div>
      </div>
      <div class="card-body">

        <div class="mt-3 text-bg-light rounded">
          <a href="#" class="text-bg-light text-decoration-none text-end">Your orders</a>
        </div>

        <div class="mt-3 text-bg-light rounded">
          <a href="#" class="text-bg-light text-decoration-none">Favourite orders</a>
        </div>

        <div class="mt-3 text-bg-light rounded">
          <a href="#" class="text-bg-light text-decoration-none">Address book</a>
        </div>

        <div class="mt-3 text-bg-light rounded">
          <a href="#" class="text-bg-light text-decoration-none badge-end">Hidden Restaurants <span class="badge bg-primary rounded-pill">new</span></a>
        </div>

        <div class="mt-3 text-bg-light rounded">
          <a href="#" class="text-bg-light text-decoration-none hover">Food ordering help</a></div>
        </div>

    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title h4">
          Coupons
        </div>
      </div>
      <div class="card-body">
        <div class="text-bg-light rounded"> <a href="#" class="text-bg-light">Collected coupons</a> </div>
      </div>
    </div>

</div>

<p><abbr title="world health organization" class="initialism">Who</abbr>WHO it is national oraganisation</p>

<blockquote class="blockquote">
  <p>trytuyoip[oasdfghjklpoiuytrewqwertyuiopmnbvcxzAQ2345T6Y7U8I9OP;LKMJHgtfrewsaqzxsxdfghyujikmjnhgtfrdesxdcvgbhn</p>
<footer class="blockquote-footer">-from shekar myakala</footer>
</blockquote>

<ul class="list-inline">
  <li class=list-inline-item>mango1</li>
  <li class=list-inline-item>mango2</li>
  <li class=list-inline-item>mango3</li>
  <li class=list-inline-item>mango4</li>
  <li class=list-inline-item>mango5</li>
</ul>

<p class="bg-primary">shekarr</p>


<div class="progress" style="height: 40px;">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%;">70%</div>
</div>

<div class="spinner-grow" role="status">
  <span class="visually-hidden" >Loading...</span>
</div>


<div class="spinner-border">
  <span></span> 
</div>  

<ul class="pagination">
    <li class="page-item"> <a class="page-link" href=""> link1</a></li>
    <li class="page-item"> <a class="page-link" href=""> link1</a></li>
    <li class="page-item"> <a  class="page-link" href="">link1</a></li>
</ul>

<ul class="list-group">
  <li class="list-group-item">orderss</li>
  <li class="list-group-item">Notifications</li>
  <li class="list-group-item">make payments</li>
</ul>






























  

